.tiendo1 {
  width: 100%;
  border-bottom: 4px solid LightGray;
}
.tiendo2 {
  height: 500px;
}
.text {
  margin-left: 1em;
}
.leftTd {
  width: 70%;
  float: left;
}
.rightTd {
  width: 30%;
  float: left;
  border-bottom: 4px solid LightGray;
}
.tienDo {
  width: 350px;
  float: left;
  margin-top: 1.5em;
}
.tienDo .progress {
  width: 290px;
  float: left;
}
.soTD {
  float: left;
  width: 20px;
  margin-left: 1em;
}
